<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/WEB-INF/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">
	<!-- 获取系统时间 -->
	<select id="getSystemTimestamp" resultType="java.sql.Timestamp">
		select now()
	</select>
</mapper>

